@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;600&display=swap');

* {
  font-family: 'Jura', sans-serif;
}

.header-links {
  color: rgb(255, 94, 0);
}
.header-links:hover {
  color: rgb(7, 211, 0);
}

.links-font {
  font-size: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
